---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Marcelo Lima - Product Designer";
---
<BaseLayout pageTitle={pageTitle}>
  <h1> I'm Marcelo Lima a Product Designer based in Lisbon.</h1>
  <img class="Photo" src="/src/images/me2.png" alt="photo">

  <div class="intro">
    <p class="intro"> About about aboute</p>
  </div>

  <div> 
   <h1> Projects </h1> 
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_5terre.jpg">
        <img src="src/images/img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Colocar a animação de aparecer texto na imagem</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="src/images/img_forest.jpg" alt="Forest" width="800" height="400">
      </a>
      <div class="desc">Colocar a animação de aparecer texto na imagem</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="/src/images/img_lights.jpg" alt="Northern Lights" width="800" height="400">
      </a>
      <div class="desc">Colocar a animação de aparecer texto na imagem</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="src/images/img_mountains.jpg" alt="Mountains" width="800" height="400">
      </a>
      <div class="desc">Colocar a animação de aparecer texto na imagem</div>
    </div>
  </div>
  
  <div class="clearfix"></div>

</BaseLayout>