---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Marcelo Lima - Product Designer";
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <section class="banner">
      <h1>I'm Marcelo Lima, a Product Designer Based in Lisbon</h1>
      <figure class="me">
        <img src="/src/images/me2.png" alt="photo of the man">
      </figure>
    </section>
    
    <section class="intro">
      <figure>
        <img src="/public/images/logo-marcelo.png" alt="logo of company">
      </figure>
      <h2>I'm a Designer with over 8 years of work experience with Digital Projects.</h2>
    </section>
    
    <section class="projects"> 
      <h1>Projects</h1>
      <p>Check out some of my recent projects</p>
  
      <div class="cards">
        <article class="project">
          <a href="#" title="Nação BRB Fla">
            <div class="cover-image">
              <img src="/public/images/Capa-1.png" alt="cover of project">
            </div>
            <div class="cover-content">
              <h2>Nação BRB Fla</h2>
              <p>App for Bank of Flamengo</p>
            </div>
          </a>
        </article>
        
        <article class="project">
          <a href="#" title="Project 2">
            <div class="cover-image">
              <img src="/public/images/Capa-2.png" alt="cover of project 2">
            </div>
            <div class="cover-content">
              <h2>Serpros</h2>
              <p>Description for project 2</p>
            </div>
          </a>
        </article>
        
        <article class="project">
          <a href="#" title="Project 3">
            <div class="cover-image">
              <img src="/public/images/Capa-3.png" alt="cover of project 3">
            </div>
            <div class="cover-content">
              <h2>Project 3</h2>
              <p>Description for project 3</p>
            </div>
          </a>
        </article>
      </div>
    </section>

  
  
  <div class="clearfix"></div>
  </main>
</BaseLayout>