---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Marcelo Lima - Product Designer";
---
<BaseLayout>
    <main>
        <div class="container">
            <h1>Projects</h1>
            <div class="projects-page">
              <div class="project">
                <img src="/public/images/capa-1.png" alt="Project 1">
                <h2>Nação BRB Fla</h2>
                <p>Application for prepaid cards from the Bank of Flamengo.</p>
                <a href="https://marcelolima-site.vercel.app/posts/post-1" target="_blank">View Details</a>
              </div>
              <div class="project">
                <img src="/public/images/capa-2.png" alt="Project 2">
                <h2>Sepros </h2>
                <p>Website and Marketing Campaing.</p>
                <a href="https://marcelolima-site.vercel.app/posts/post-2" target="_blank">View Details</a>
              </div>
              <div class="project">
                <img src="/public/images/capa-3.png" alt="Project 3">
                <h2>Dully Store</h2>
                <p>Brand creation and e-commerce for the product and devices store.</p>
                <a href="https://marcelolima-site.vercel.app/posts/post-3" target="_blank">View Details</a>
              </div>
              

    </main>
</BaseLayout>
