---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Marcelo Lima - Product Designer";
---
<BaseLayout pageTitle={pageTitle}>

    <main>
        <div>
            <h2> Projects</h2>
        </div>

        <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_forest.jpg">
                <img src="images/img_forest.jpg" alt="Forest" width="800" height="400">
              </a>
              <div class="desc">Colocar a animação de aparecer texto na imagem</div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_lights.jpg">
                <img src="images/img_lights.jpg" alt="Northern Lights" width="800" height="400">
              </a>
              <div class="desc">Colocar a animação de aparecer texto na imagem</div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_mountains.jpg">
                <img src="images/img_mountains.jpg" alt="Mountains" width="800" height="400">
              </a>
              <div class="desc">Colocar a animação de aparecer texto na imagem</div>
            </div>
          </div>


    </main>




















</BaseLayout>

