---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      width: 100%;
      gap: 1rem;
      margin-top: 2rem;
      padding: 20px;
      justify-content: center;
      background-color: blue;
      color: white;
      flex-direction: column;
    }
  </style>

<footer>
  <h2> Did you like? Get in touch and let’s talk about digital projects.</h2>
    <Social platform="Linkedin" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  <div>
    <h2>Contact Me</h2>
    <p>contato@marcelolima.me</p>
  </div>
</footer>