---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      width: 100%;
      gap: 1rem;
      margin-top: 2rem;
      padding: 20px;
      justify-content: center;
      background-color: #064cff;
    }
  </style>

<footer>
  <div>
    <Social platform="Linkedin" username="/in/marcelo-lima"/> 
    <Social platform="Github" username="marcelolimabsb" />
    <Social platform="Instagram" username="marcelolima.me" />
    <p>&copy; 2024 Marcelo Lima - Product Designer </p>
  </div>

</footer>