---
import Header from "./Header.astro"
---
<div class="nav-links">
    <a href="/home">Início</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </div>